Package: me.shymemoriees.animezing
Name: Animezing
Depends: mobilesubstrate
Version: 1.2.1
Architecture: iphoneos-arm
Description: Your device will be able to play anime voice/sound effects
Maintainer: ShyMemoriees
Author: ShyMemoriees
Section: Tweaks