Package: me.shymemoriees.animezing
Name: Animezing
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Your device will be able to play anime voice/sound effects
Maintainer: ShyMemoriees
Author: ShyMemoriees
Section: Tweaks
SileoDepiction: https://repo.memor1es.me/depicitions/aezg/index.html
Depiction: https://repo.memor1es.me/depicitions/aezg/index.html
Icon: https://repo.memor1es.me/depicitions/aezg/assets/icon.png
Version: 1.2-3+debug
Installed-Size: 416
